<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="CompanyContext" connectionString="metadata=res://*/Models.CompanyDatabase.csdl|res://*/Models.CompanyDatabase.ssdl|res://*/Models.CompanyDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0FTMT90\SQLEXPRESS;initial catalog=CompanyProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="TokenAPI" connectionString="WQai_A5gCrbI010weecb02SAN9t2YXaSrb0HixAfFk0rtdRR1Ydpf63EU11jDkyAJ-rWpHqD1doWwaf4G4RpnMFoKAPhv4kKFS0MYXR0n29jZ5emu-6_BWa8OcFzylvkDx0SpeUt1U2TAgC9dq2S8NYcVNRupJHg9KOYez0UsRedgTcBagOj1gXtA44pbamNcRMEk8BVOEWMk0xscb1FcHHBAfwXQlQI25LE2n9rnQAMJeZ7ZY-n1vSCEXaPcKcsUwu4sxWIhQu2uSVsvZLnulFSE-DCpUnRkWD-ACyMW7CH_p0tlXIer3QWdPxrrVYDfMMprYtoXzlOlFNnsM7emdGbSJ-T-9VLOCPWe7oxHoA"/>
	  <add name="APIAddress" connectionString="https://80.211.144.168/api/v1/orders"/>    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>